.faq{
    padding: 5.6vw;
    
    h2{
        text-align: center;
    }

    &__questions{
        &__item{
            background-color: #13151d;
            margin-bottom: 16px;

            &__question{
                color: #fff;
                font-size: 20px;
                padding: 24px;
                cursor: pointer;
                position: relative;

                &::after{
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                }
            }

            &__answer{
                overflow: hidden;
                height: 0;
                padding: 0 24px;
                transition: height, 0.5s ease;
            }

            &--is-open{
                .faq__questions__item__question::after{
                    content: '-';
                }
                .faq__questions__item__answer{
                    padding: 24px;
                    height: 100%;
                    
                    padding-bottom: 24px;
                    transition: height, 0.5s ease;
                }
            }
        }
    }
}